/*
0-600px Phone
600-900 Tablet portrait
900-1200 tablet landscape
1200-1800 normal styles
1800+ big desktop
*/
/*
$breakpoint argument choices:
- Phone- tab=port
-tab-land
-big-desktop
*/
@keyframes startup {
  0% {
    opacity: 0; }
  50% { }
  100% {
    opacity: .7; } }

@keyframes startup2 {
  0% {
    opacity: 0; }
  50% {
    opacity: 0;
    transform: translateX(4rem); }
  75% {
    transform: translateX(-0.2rem); }
  100% {
    opacity: .7;
    transform: translateX(0); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media (max-width: 56.25em) {
    html {
      font-size: 50% !important; } }

.element::-webkit-scrollbar {
  width: 0 !important; }

body {
  margin: 5rem 5rem;
  overflow: hidden; }
  @media (max-width: 56.25em) {
    body {
      margin: 0; } }

body {
  font-family: roboto; }

.header__name {
  color: white;
  font-size: 4rem;
  font-weight: bold;
  line-height: 3;
  letter-spacing: 3px;
  text-transform: uppercase; }
  @media (max-width: 56.25em) {
    .header__name {
      font-size: 3rem;
      letter-spacing: 1px; } }

.header__text {
  color: white;
  font-size: 2rem; }
  @media (max-width: 56.25em) {
    .header__text {
      font-size: 1.5rem;
      letter-spacing: 1px; } }

.lowpacity {
  opacity: 0 !important;
  transition: opacity 1s; }

.third-header {
  position: relative;
  z-index: 4;
  font-size: 3rem;
  color: #4C3A38;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px; }

.u-margin-right-small {
  margin-right: 2rem !important; }

.u-margin-right-medium {
  margin-right: 6rem !important; }

.spacefiller {
  width: 100%;
  height: 20rem; }

.message {
  background-color: #F9F9F9;
  position: absolute;
  width: 23rem;
  height: 3rem;
  z-index: 20;
  border: 1px solid #A6A8A9;
  padding: 0 .5%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  opacity: .7;
  transition: opacity 1s;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
  .message--1 {
    animation: startup 2s    ease-in; }
    .message--1:hover {
      transition: all .4s;
      transform: scale(1.1);
      box-shadow: 0 3rem 4rem rgba(0, 0, 0, 0.15); }
  .message--2 {
    animation: startup2 4s   ease-in; }
    .message--2:hover {
      transition: all .4s;
      transform: scale(1.1);
      box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0); }
  .message__text-box {
    position: relative;
    z-index: 9;
    width: 80%;
    height: 75%;
    background-color: white;
    border-radius: 10rem;
    border: 1px solid #A6A8A9;
    text-align: center;
    display: flex;
    align-items: flex-end; }
  .message__text {
    width: 95%;
    height: 100%;
    font-size: 1.9rem;
    font-family: sans-serif;
    cursor: pointer; }

html {
  overflow: scroll;
  overflow-x: hidden; }

::-webkit-scrollbar {
  width: 0; }

::-webkit-scrollbar-thumb {
  background: #FF0000; }

.container {
  display: flex;
  height: 100vh;
  width: inherit;
  overflow: hidden;
  border-top-right-radius: 1rem;
  overflow: hidden;
  clip-path: polygon(100% 0, 100% 91%, 0 100%, 0 0);
  position: relative; }
  @media (max-width: 56.25em) {
    .container {
      flex-direction: column;
      border-radius: 0; } }
  @media (max-width: 37.5em) {
    .container {
      clip-path: polygon(0 0, 100% 0, 100% 93%, 0% 100%); } }
  .container__overlay--1 {
    position: absolute;
    z-index: 15;
    background-color: black;
    height: 100%;
    width: 50%;
    opacity: 0.2;
    left: 0;
    border-top-left-radius: 1rem;
    overflow: hidden; }
    @media (max-width: 56.25em) {
      .container__overlay--1 {
        height: 50%;
        width: 100%;
        border-radius: 0; } }
    .container__overlay--1:hover {
      opacity: 0;
      transition: opacity 1s; }
    .container__overlay--1:hover ~ .container__overlay--2 {
      opacity: 0.5;
      transition: opacity 1s; }
  .container__overlay--2 {
    position: absolute;
    z-index: 15;
    background-color: black;
    height: 100%;
    width: 50%;
    opacity: 0.2;
    right: 0;
    border-top-right-radius: 1rem;
    overflow: hidden; }
    @media (max-width: 56.25em) {
      .container__overlay--2 {
        height: 50%;
        width: 100%;
        bottom: 0; } }
    .container__overlay--2:hover {
      opacity: 0;
      transition: opacity 1s; }
    .container__overlay--2:hover ~ .container__overlay--1 {
      opacity: 0.8;
      transition: opacity 1s; }
  .container__half--1 {
    height: 100%;
    width: 50%;
    background-image: url("../img/woman2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    border-top-left-radius: 1rem;
    overflow: hidden; }
    @media (max-width: 56.25em) {
      .container__half--1 {
        width: 100%;
        border-radius: 0; } }
  .container__half--2 {
    height: 100%;
    width: 50%;
    background-image: url("../img/man1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    border-top-right-radius: 1rem;
    overflow: hidden; }
    @media (max-width: 56.25em) {
      .container__half--2 {
        border-radius: 0;
        width: 100%;
        height: 120%; } }

.header {
  position: absolute;
  z-index: 10;
  width: 100%; }
  @media (max-width: 56.25em) {
    .header {
      height: 100%; } }
  .header__name {
    position: absolute;
    left: 3%;
    z-index: 10; }
  .header__text {
    position: absolute;
    left: 70%; }
    .header__text--1 {
      top: 5%;
      margin-top: 2.5%; }
      @media (max-width: 56.25em) {
        .header__text--1 {
          top: 55%; } }
    .header__text--2 {
      margin-top: 7%; }

.message__icon--1 {
  height: 70%;
  width: 10%;
  margin-right: 2%;
  fill: #A6A8A9;
  font-weight: bold; }
  .message__icon--1:hover {
    transform: rotate(180deg);
    transition: 0.4s linear; }

.message__icon--2 {
  height: 85%;
  width: 11.5%;
  margin-left: 2%;
  display: flex;
  border-radius: 50%;
  background-color: #31AADD;
  z-index: 11;
  justify-content: center;
  align-items: center; }
  .message__icon--2:hover {
    background-color: #0080F8;
    transform: scale(1.05);
    transition: 0.2s linear; }
  .message__icon--2__arrow {
    fill: white;
    height: 45%;
    weight: 45%;
    transform: rotate(-90deg);
    font-weight: bold; }

.message--1 {
  top: 45%;
  right: 2%; }
  @media (max-width: 56.25em) {
    .message--1 {
      top: 65%; } }

.message--2 {
  top: 25%;
  left: 2%; }
  @media (max-width: 56.25em) {
    .message--2 {
      top: 50%; } }

.description {
  height: 100vh;
  width: inherit;
  position: relative;
  background-image: linear-gradient(to bottom, #F5F5F5, #F4F4F4, #F3F3F3, #F1F1F1, #F5F5F5);
  display: flex;
  justify-content: space-around;
  align-items: center;
  clip-path: polygon(0 11%, 100% 0, 100% 90%, 0% 100%);
  padding: 20rem 0;
  margin-top: -17rem; }
  @media (max-width: 56.25em) {
    .description {
      flex-direction: column;
      justify-content: center;
      background-image: linear-gradient(to right, #F5F5F5, #F4F4F4, #F3F3F3, #F1F1F1, #F5F5F5); } }
  @media (max-width: 37.5em) {
    .description {
      clip-path: polygon(0 3%, 100% 0, 100% 97%, 0% 100%); } }
  .description__item {
    height: 60rem;
    width: 40%;
    text-align: center;
    margin-right: -10%; }
    .description__item--1 {
      display: flex;
      flex-direction: column;
      justify-content: space-between; }
      @media (max-width: 56.25em) {
        .description__item--1 {
          width: 60%;
          margin-left: auto;
          margin-right: auto; }
          .description__item--1 p.third-header {
            margin-bottom: 3rem; } }
      .description__item--1 p.paragraph {
        font-size: 1.95rem; }
    .description__item--2 {
      background-image: url("../img/phone3.jpg");
      background-position: left;
      background-size: contain;
      background-repeat: no-repeat;
      height: 80rem;
      position: relative;
      z-index: 5;
      width: 50%; }
      @media (max-width: 75em) {
        .description__item--2 {
          margin-top: -10rem;
          height: 100rem;
          background-size: cover; } }
      @media (max-width: 56.25em) {
        .description__item--2 {
          background-size: cover;
          background-position: right;
          height: 100rem; } }
      @media (max-width: 37.5em) {
        .description__item--2 {
          margin: 0;
          flex-direction: column;
          height: 100rem;
          background-size: contain;
          margin-left: auto;
          margin-right: auto; } }

.features {
  width: inherit;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #F7F7F7;
  z-index: -1;
  clip-path: polygon(100% 0, 100% 86%, 0 100%, 0 16%); }
  @media (max-width: 37.5em) {
    .features {
      clip-path: polygon(0 5%, 100% 0, 100% 97%, 0% 100%); } }
  .features__item {
    width: 30rem;
    height: 45rem;
    background-color: red; }
