/*
0-600px Phone
600-900 Tablet portrait
900-1200 tablet landscape
1200-1800 normal styles
1800+ big desktop
*/
/*
$breakpoint argument choices:
- Phone- tab=port
-tab-land
-big-desktop
*/
@keyframes startup {
  0% {
    opacity: 0; }
  50% { }
  100% {
    opacity: .7; } }

@keyframes startup2 {
  0% {
    opacity: 0; }
  50% {
    opacity: 0;
    transform: translateX(4rem); }
  75% {
    transform: translateX(-0.2rem); }
  100% {
    opacity: .7;
    transform: translateX(0); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  font-family: roboto; }

.header__name {
  color: white;
  font-size: 4rem;
  font-weight: bold;
  line-height: 3;
  letter-spacing: 3px;
  text-transform: uppercase; }

.header__text {
  color: white;
  font-size: 2rem; }

.lowpacity {
  opacity: 0 !important;
  transition: opacity 1s; }

.message {
  background-color: #F9F9F9;
  position: absolute;
  width: 23rem;
  height: 3rem;
  z-index: 20;
  border: 1px solid #A6A8A9;
  padding: 0 .5%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  opacity: .7;
  transition: opacity 1s; }
  .message--1 {
    animation: startup 2s    ease-in; }
    .message--1:hover {
      transition: all .4s;
      transform: scale(1.1); }
  .message--2 {
    animation: startup2 4s   ease-in; }
    .message--2:hover {
      transition: all .4s;
      transform: scale(1.1); }
  .message__text-box {
    position: relative;
    z-index: 9;
    width: 80%;
    height: 75%;
    background-color: white;
    border-radius: 10rem;
    border: 1px solid #A6A8A9;
    text-align: center;
    display: flex;
    align-items: flex-end; }
  .message__text {
    width: 95%;
    height: 100%;
    font-size: 1.9rem;
    font-family: sans-serif;
    cursor: pointer; }

.container {
  display: flex;
  height: 100vh;
  width: 100vw;
  position: relative; }
  .container__overlay--1 {
    position: absolute;
    z-index: 15;
    background-color: black;
    height: 100%;
    width: 50%;
    opacity: .2;
    left: 0; }
    .container__overlay--1:hover {
      opacity: 0;
      transition: opacity 1s; }
    .container__overlay--1:hover ~ .container__overlay--2 {
      opacity: .5;
      transition: opacity 1s; }
  .container__overlay--2 {
    position: absolute;
    z-index: 15;
    background-color: black;
    height: 100%;
    width: 50%;
    opacity: .2;
    right: 0; }
    .container__overlay--2:hover {
      opacity: 0;
      transition: opacity 1s; }
    .container__overlay--2:hover ~ .container__overlay--1 {
      opacity: .8;
      transition: opacity 1s; }
  .container__half--1 {
    height: 100%;
    width: 50%;
    background-image: url(../img/woman2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative; }
  .container__half--2 {
    height: 100%;
    width: 50%;
    background-image: url(../img/man1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative; }

.header {
  position: absolute;
  z-index: 10;
  width: 100%; }
  .header__name {
    position: absolute;
    left: 3%;
    z-index: 10; }
  .header__text {
    position: absolute;
    left: 70%; }
    .header__text--1 {
      top: 5%;
      margin-top: 2.5%; }
    .header__text--2 {
      margin-top: 5%; }

.message__icon--1 {
  height: 70%;
  width: 10%;
  margin-right: 2%;
  fill: #A6A8A9;
  font-weight: bold; }

.message__icon--2 {
  height: 85%;
  width: 11.5%;
  margin-left: 2%;
  display: flex;
  border-radius: 50%;
  background-color: #31AADD;
  z-index: 11;
  justify-content: center;
  align-items: center; }
  .message__icon--2__arrow {
    fill: white;
    height: 45%;
    weight: 45%;
    transform: rotate(-90deg);
    font-weight: bold; }

.message--1 {
  top: 45%;
  right: 2%; }

.message--2 {
  top: 25%;
  left: 2%; }
